SegurosCSC funcional bd (2)/SegurosCSC funcional bd/SegurosCSC/SegurosCSC/src/conf/xml-resources/web-service-references/CalcuMate/wsdl/localhost_8080/CalcuMate/CalcuMate.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="CalcuMate">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/CalcuMate/CalcuMate?xsd=1"/>
</xsd:schema>
</types>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="restar">
<part name="parameters" element="tns:restar"/>
</message>
<message name="restarResponse">
<part name="parameters" element="tns:restarResponse"/>
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar"/>
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<portType name="CalcuMate">
<operation name="divide">
<input wsam:Action="http://Servicios/CalcuMate/divideRequest" message="tns:divide"/>
<output wsam:Action="http://Servicios/CalcuMate/divideResponse" message="tns:divideResponse"/>
</operation>
<operation name="restar">
<input wsam:Action="http://Servicios/CalcuMate/restarRequest" message="tns:restar"/>
<output wsam:Action="http://Servicios/CalcuMate/restarResponse" message="tns:restarResponse"/>
</operation>
<operation name="multiplicar">
<input wsam:Action="http://Servicios/CalcuMate/multiplicarRequest" message="tns:multiplicar"/>
<output wsam:Action="http://Servicios/CalcuMate/multiplicarResponse" message="tns:multiplicarResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Servicios/CalcuMate/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Servicios/CalcuMate/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="sumar">
<input wsam:Action="http://Servicios/CalcuMate/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://Servicios/CalcuMate/sumarResponse" message="tns:sumarResponse"/>
</operation>
</portType>
<binding name="CalcuMatePortBinding" type="tns:CalcuMate">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalcuMate">
<port name="CalcuMatePort" binding="tns:CalcuMatePortBinding">
<soap:address location="http://localhost:8080/CalcuMate/CalcuMate"/>
</port>
</service>
</definitions>